
.detail-result-main-box
    .detail-result-1
        margin-top: 30px


.general-data-main-box
    .general-data-box
        width: 90%

.gd-table
    tr
        margin-top: 20px

.gd-icons
    font-size: 35px
    color: $description

.input
    padding: 10px 0

.gd-text
    span
        font-size: 20px
        margin-left: 10px

.description-box
    p
        font-size: 20px
        margin-top: 0

.form-group
    input
        &::placeholder
            opacity: .3

.icons-description-box
    +d-flex(center, center)
    padding: 15px 0

.id-links
    color: $description
    &:hover
        color: black
    .id-icons
        font-size: 30px


.general-data-main-box,
.description-box,
.video-box,
.location-box,
.send-message-box
    margin-top: 50px