.detail-carousel-item
    img
        width: 100%

.detail-result-main-box
    margin-top: 50px

.icons-description-box
    +d-flex(center, center)
    padding: 15px 0
    a
        color: $description
        &:hover
            color: black
        i
            font-size: 30px
            margin-left: 15px

.general-data-box
    margin-top: 50px
    div
        margin: auto
        width: 90%
        margin-top: 25px
        table
            tr
                margin-top: 20px
                td 
                    padding: 10px 0
                    i
                        font-size: 35px
                        color: $description
                    span
                        font-size: 20px
                        margin-left: 5px
                .input
                    text-align: center  
                    font-weight: bold

.description-box
    margin-top: 50px
    p
        padding: 25px 20px
        font-size: 20px

.video-box
    margin-top: 50px
    h3
        margin-bottom: 25px
    .video
        padding: 20px
        margin: auto
        iframe
            width: 100%

.location-box
    margin-top: 50px
    h3
        margin-bottom: 25px
    .google-map
        padding: 20px
        margin: auto
        iframe
            width: 100%

