main
    .main-bg
        .search-main-box
            .search-box
                background: $search-box-bg
                border-radius: 5px
                padding: 20px
                h5
                    margin-bottom: 10px
                .selectors-box
                    select
                        font-size: 18px
                        height: 100%
                        padding: 10px
