
.carousel-item
    img
        height: 300px
        width: 100%

.carousel
    a
        span
            i
                font-size: 70px
                position: absolute
                bottom: 0

.fa-angle-left
    right: 0

.fa-angle-right
    left: 0

.result-text-box
    padding: 10px
    background: $result-box-bg
    width: 100%
    h3, p
        font-weight: bold
    .description
        color: $description





