.results
    margin-top: 30px

.result-carousel-item
    img
        height: 300px
        width: 100%

.carousel
    a
        span
            i
                font-size: 70px
                position: absolute
                bottom: 0

.fa-angle-left
    right: 0

.fa-angle-right
    left: 0

.result-text-box
    height: 220px
    padding: 10px
    background: $result-box-bg
    a
        h3
            color: $title-card
    p
    .description
        color: $description

.filters-main-box
    h1
        color: black
    .filters-box
        background: $search-box-bg
        border-radius: 5px
        padding: 20px
        .selectors-box
            select
                font-size: 18px
                height: 100%
                padding: 10px
            .filters-button
                background: $navbar-bg




