* 
    margin: 0
    padding: 0
    border: 0 
    font-family: sans-serif
    list-style: none
    box-sizing: border-box
    text-decoration: none

.body-home
    background-image: url('../css/images/dublin-bg.jpg')
    background-size: cover
    background-position: center center
    background-attachment: fixed
