
@media (max-width: 767px)
    .navbar-logo-box
        margin: auto
    .navbar-icons-box, 
    .detail-result-main-box
        margin: auto
    .search-main-box,
    .detail-result-main-box
        width: 90%
    .selectors-box
        button
            width: 100%
    .detail-carousel-item
        img
            height: 300px
    .general-data-box
        div
            margin: auto


@media (min-width: 768px)
    .float-left-md
        display: float-left
    .nav
        +d-flex(center, space-around)
    .selectors-box
        +d-flex(center, center)
    .detail-result-main-box
        width: 90%
        margin: auto
    .detail-carousel-item
        img
            height: 600px
    .general-data-box
        div
            +d-flex(center, space-around)


@media (min-width: 1024px)
    .detail-result-main-box
        width: 80%
        margin: auto

@media (min-width: 1440px)
    .navbar-icons-box
        width: 500px
    .search-main-box
        width: 80%
    .selectors-box
        h5
            font-size: 20px
    .results-main-box 
        width: 80%
    .detail-carousel-item
        img
            height: 900px

@media (max-width: 1439px)
    .navbar-icons-box
        width: 300px
    .d-none-sm-lg
        display: none
    .results-main-box 
        width: 95%

