
@media (max-width: 767px)
    .navbar-icons-box
        width: 100px

    .detail-result-main-box
        margin: auto
    
    .search-main-box,
    .detail-result-main-box
        width: 90%
    
    .selectors-box
        button
            width: 100%
    
    .detail-carousel-item
        img
            height: 300px
    
    .general-data-box
        div
            margin: auto
    
    .google-map
        iframe
            height: 350px
    
    .video
        iframe
            height: 180px




@media (min-width: 768px)
    .navbar-icons-box
        width: 300px
    .float-left-md
        display: float-left
    .nav
        +d-flex(center, space-around)
    .selectors-box
        +d-flex(center, center)
    .search-main-box,
    .detail-result-main-box
        width: 90%
        margin: auto
    .detail-carousel-item
        img
            height: 600px
    .general-data-box
        div
            +d-flex(center, space-around)
    .google-map
        iframe
            height: 500px
    .video
        iframe
            height: 350px




@media (min-width: 1024px)
    .navbar-icons-box
        width: 400px
    .detail-result-main-box
        width: 80%
        margin: auto
    .video
        iframe
            height: 430px




@media (min-width: 1440px)
    .navbar-icons-box
        width: 500px
    .search-main-box
        width: 80%
    .selectors-box
        h5
            font-size: 20px
    .results-main-box 
        width: 80%
    .detail-carousel-item
        img
            height: 700px
    .video
        iframe
            height: 330px
    .google-map
        iframe
            height: 400px


@media (max-width: 1023px)
    .d-none-sm-lg
        display: none




@media (max-width: 1439px)
    .results-main-box 
        width: 95%
    .description-box
        p
            padding: 20px
    .video,
    .google-map,
    .form-box
        padding: 20px



