
    
@media (max-width: 767px)
    .navbar-icons-box
        margin: auto
    .search-main-box
        width: 90%
    .input-box
        input
            width: 100%
        button
            width: 100%


@media (max-width: 1439px)
    .navbar-icons-box
        width: 300px
    .d-none-sm-lg
        display: none


@media (min-width: 768px)
    .float-left-md
        display: float-left
    nav
        +d-flex(center, space-around)
    .search-main-box
        width: 80%
    .input-box
        input
            width: 70%
        button
            width: 29%




@media (min-width: 1440px)
    .navbar-icons-box
        width: 500px
    .search-box
        h5
            font-size: 20px


