
nav
    width: 100%
    background: #8e44ad
    position: fixed
    top: 0

    h5
        font-family: 'Lobster', cursive;
        font-size: 40px
        color: white
        padding: 10px 0
        text-align: center

    .navbar-icons-box
        +d-flex(center, space-between)

        a
            i
                font-size: 18px
                color: white
                padding: 20px 0
                span
                    margin-left: 5px


