main
    .search-main-box
        padding: 20px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        h1
            margin-top: 0
        .search-box
            background: $search-box-bg
            border-radius: 5px
            padding: 20px
            h5
                margin-bottom: 10px
            .selectors-box
                select
                    font-size: 18px
                    height: 100%
                    padding: 10px
                .search-button
                    font-size: 18px
                    font-weight: bold
                    padding: 10px
                    border-radius: 5px
                    background: $navbar-bg
                    text-align: center
                    a
                        &:hover
                            color: $footer-bg

.footer-home
    bottom: 0

.navbar-home
    top: 0

